body {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  background-color: rgb(93, 93, 93);
  color: rgb(255, 225, 0);
}

.main {
  margin-bottom: 50px;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.footer {
  padding: 30px 0;
  color: aliceblue;
  background-color: darkblue;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

.footer__logo img {
  height: 100px;
}

.footer__p {
  width: 500px;
}

.footer__ul li a {
  color: aliceblue;
}